# rf 测试环境 Docker 部署参数

# 宿主机端口
RF_MNG_PORT=18091
RF_MNG_WEB_PORT=18092

# 镜像和容器名称
RF_MNG_IMAGE=rf-mng:test
RF_MNG_WEB_IMAGE=rf-mng-web:test
RF_MNG_CONTAINER_NAME=rf-mng-test
RF_MNG_WEB_CONTAINER_NAME=rf-mng-web-test
RF_DOCKER_NETWORK=rf-test

# Spring 环境
SPRING_PROFILES_ACTIVE=test
RF_MNG_JAVA_OPTS=-Xms256m -Xmx512m

# rf_tax 数据库，不要把真实密码提交到 Git
RF_DB_URL=jdbc:mysql://192.168.110.192:3306/rf_tax?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
RF_DB_USERNAME=rf_tax
RF_DB_PASSWORD=请填写测试库密码

# tax-browser-worker 地址；如果 worker 不在同一个 compose 网络，请填写测试机可访问的实际地址
RF_TAX_ROBOT_BASE_URL=http://192.168.110.192:3220
RF_TAX_ROBOT_INTERNAL_TOKEN=
RF_TAX_ROBOT_TIMEOUT_MILLIS=330000
