# rfpt 测试环境 Docker 部署参数

# 宿主机端口
RFPT_MNG_PORT=18091
RFPT_MNG_WEB_PORT=18092

# 镜像和容器名称
RFPT_MNG_IMAGE=rfpt-mng:test
RFPT_MNG_WEB_IMAGE=rfpt-mng-web:test
RFPT_MNG_CONTAINER_NAME=rfpt-mng-test
RFPT_MNG_WEB_CONTAINER_NAME=rfpt-mng-web-test
RFPT_DOCKER_NETWORK=rfpt-test

# Spring 环境
SPRING_PROFILES_ACTIVE=test
RFPT_MNG_JAVA_OPTS=-Xms256m -Xmx512m

# rf_tax 数据库，不要把真实密码提交到 Git
RFPT_DB_URL=jdbc:mysql://192.168.110.192:3306/rf_tax?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
RFPT_DB_USERNAME=rf_tax
RFPT_DB_PASSWORD=请填写测试库密码

# tax-browser-worker 地址；如果 worker 不在同一个 compose 网络，请填写测试机可访问的实际地址
RFPT_TAX_ROBOT_BASE_URL=http://192.168.110.192:3220
RFPT_TAX_ROBOT_INTERNAL_TOKEN=
RFPT_TAX_ROBOT_TIMEOUT_MILLIS=330000
